body{
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

article,
section{
  width: 100%;
}

.header{
  height: 80px;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
}

/**** One sidebar **/

.sidebar{
  width: 30%;
  padding: 30px;
  background-color: #eee;
}

article.withSidebar,
section.withSidebar,
div.withSidebar{
  padding-right: 40px;
  width: 70%;
}


/** H1-H6 ***/

h1{
  font-size: rem(48px);
  line-height: rem(50px);
  margin-bottom: 0;
  padding-bottom: rem(5px);
}

h2{
  font-size: rem(38px); /* 38px */
  line-height: rem(40px);
  margin-bottom: 0;
  padding-bottom: rem(10px);
}

h3{
  font-size: rem(30px);
  line-height: rem(32px);
  margin-bottom: 0;
  padding-bottom: rem(17px);
}

h4{
  font-size: rem(24px);
  line-height: rem(28px);
  margin-bottom: rem(20px);
}

h5{
  font-size: rem(24px);
  line-height: rem(28px);
  margin-bottom: rem(12px);
}

h6{
  font-size: rem(18px);
  line-height: rem(20px);
  margin-bottom: 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */

// Extra small devices (portrait phones, less than 34em)
.container{
  max-width: 100%;
  padding-right: $gap;
  padding-left: $gap;
}

.container{
  margin-right: auto;
  margin-left: auto;
}

// Small devices (landscape phones, less than 34em - 544px - xs)
@media (min-width: 34rem){
  .container{
    max-width: 35rem;
  }
}

// Small devices (landscape phones, less than 48em - 766px -sm)
@media (min-width: 48rem){
  .container{
    max-width: 49rem;
  }
}

// Medium devices (tablets, less than 62em - 992px - md)
@media (min-width: 62rem){
  .container{
    max-width: ( 940 / 16) * 1rem;
  }
}

// Large devices (desktops, less than 75em - 1200 - lg)
@media (min-width: 75rem){
  .container{
    max-width: ( 1250 / 16) * 1rem;
  }
}


/********** FORM *********/

input[placeholder]{
  text-overflow: ellipsis;
}

/* сдвиг placeholder-а вниз при фокусе*/
input::-webkit-input-placeholder       {opacity: 0.54; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 0.54; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 0.54; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 0.54; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

/* плавное изменение прозрачности  placeholder-а при фокусе */

textarea::-webkit-input-placeholder       {opacity: 0.54; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 0.54; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 0.54; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 0.54; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
