$font-size: 16px;
$line-height: 24px;
$head-color: #6d6f71; // Цвет шапки
$t-color: #6d6f71; // цвет текста
$h-color: #495058; // Цвет заголовков
$hover-link: #6d6f71; // Цвет ссылок при наведении
//$color:

$gap: 16px; // Стандартный пробел между блоками