@mixin btn(){
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  background-color: transparent;
  box-sizing: border-box;
  word-wrap: break-word;
  user-select: none;
  text-decoration: none;
  position: relative;
  top: 0;
  transition: all .2s ease-in-out;
  line-height: normal;
  cursor: pointer !important;
}

@mixin btn-size($size){
  padding: 9px 20px;
  @if $size == 'big'{
    font-size: 22px;
    line-height: 33px;
    padding: 16px 19px;
  }
}

@mixin btn-background($color, $hovercolor: #fff){
  padding: 8px 44px;
  transition: all .5s ease;
  color: #fff;
  border: 2px solid $color;
  border-radius: 3px;
  background-color: $color;
  &:hover{
    color: $color;
    background: transparent;
  }
  @at-root .invert &{
    background-color: #fff;
    color: $color;
    &:hover{
      border-color: $hovercolor;
      background-color: transparent;
      color: $hovercolor;
    }
  }
}