/*** Sections ***/
section{
  @include clear-fix();
  padding: 20px 0;
}

.section-invert{
	@include section-invert;
}

.section {
  &__content {
    order: 1;

    @include for-tablet-landscape-up {
      order: 0;
    }
  }

  &__photo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
