///**
// * (optional) define here the style definitions which should be applied on the slider container
// * e.g. width including further controls like arrows etc.
// */
//.slider {}
//
//.frame {
//  /**
//   * (optional) wrapper width, specifies width of the slider frame.
//   */
//  width: 880px;
//
//  position: relative;
//  font-size: 0;
//  line-height: 0;
//  overflow: hidden;
//  white-space: nowrap;
//}
//
//.slides {
//  display: inline-block;
//}
//
//li {
//  position: relative;
//  display: inline-block;
//
//  /**
//   * (optional) if the content inside the slide element has a defined size.
//   */
//  width: 880px;
//
//}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;

  &__frame {
    width: inherit;
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &__list {
    display: inline-block;
    width: 100%;
  }

  &__item {
    position: relative;
    display: inline-block;

    /**
     * (optional) if the content inside the slide element has a defined size.
     */
    width: inherit;
    & .active {
    }
  }

  &__content {
    width: 100%;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next svg, .prev svg {
  width: 25px;
}
