/*** Buttons ***/

@mixin btn(){
  padding: 9px 20px;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  background-color: transparent;
  box-sizing: border-box;
  word-wrap: break-word;
  user-select: none;
  text-decoration: none;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in-out;
  line-height: normal;
  cursor: pointer !important;
}

@mixin btn-background($color, $hovercolor: #fff){
  transition: all .5s ease;
  color: #fff;
  border: 1px solid $color;
  border-radius: 100px;
  background-color: $color;
  &:hover{
    color: $color;
    background: transparent;
  }

  @at-root .invert &{
    background-color: $color;
    color: $hovercolor;

    &:hover{
      border-color: $hovercolor;
      background-color: transparent;
      color: $hovercolor;
    } 
  }
}

.btn-background{
  @include btn();
  @include btn-background($bg-color);  
}