@import '_variables.scss';


.menu-container{
  height: auto;
  overflow: auto;
}

@media screen and (max-width: 62rem){
  body,
  .menu-container,
  .mobile-main-menu{
    overflow-y: auto;
    height: 100vh;
  }
}


/* Hidden without JS*/
.mobile-main-menu{
  &-wrap{
    display: none;
  }
}

/* Show with JS*/

.is-mobile .mobile-main-menu{
  &-wrap{
    display: block;
  }
}

.is-mobile .main-menu{
  display: none;
}

.mobile-main-menu{
  border-left: 1px solid #c1c1c1;
  z-index: 1000;
  background: #fff;
  width: 100%;
  width: 320px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform .5s ease;
  transform: translate3d(-100%, 0, 0);
  &.is-open{
    transform: translate3d(0, 0, 0);
  }
  &-hamburger{
    display: flex;
    align-items: center;
        justify-content: center;
    @include clean-button();
    width: 45px;
    height: 45px;
    position: absolute;
    padding: 0;
    border:1px solid $color;
    top: 20px;
    left: 80%;
    background-color: rgba( #c1c1c1 , .5);
    border-radius: 10px;
  }
  &-hamburger-icon{
    opacity: .5;
    transition: opacity .3s ease;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    width: 25px;
    height: 25px;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'40.83\' height=\'39.29\' viewBox=\'0 0 40.83 39.29\'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23262b2e;%7D%3C/style%3E%3C/defs%3E%3Cpath class=\'cls-1\' d=\'M39.51,0H1.32A1.32,1.32,0,0,0,0,1.32V7.18A1.32,1.32,0,0,0,1.32,8.5H39.51a1.32,1.32,0,0,0,1.32-1.32V1.32A1.32,1.32,0,0,0,39.51,0Z\'/%3E%3Cpath class=\'cls-1\' d=\'M39.51,15.39H1.32A1.32,1.32,0,0,0,0,16.71v5.87A1.32,1.32,0,0,0,1.32,23.9H39.51a1.32,1.32,0,0,0,1.32-1.32V16.71A1.32,1.32,0,0,0,39.51,15.39Z\'/%3E%3Cpath class=\'cls-1\' d=\'M39.51,30.79H1.32A1.32,1.32,0,0,0,0,32.11V38a1.32,1.32,0,0,0,1.32,1.32H39.51A1.32,1.32,0,0,0,40.83,38V32.11A1.32,1.32,0,0,0,39.51,30.79Z\'/%3E%3C/svg%3E');
    &:hover{
      opacity: 1;
    }
  }
  &-close{
    @include clean-button();
    background-color: #c1c1c1;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    width: 30px;
    height: 30px;
    display: block;
  }
  &-close-icon{
    display: block;
    background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'21.9\' height=\'21.9\' viewBox=\'0 0 21.9 21.9\'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cpath class=\'cls-1\' d=\'M14.1,11.3a0.48,0.48,0,0,1,0-.7l7.5-7.5a1.08,1.08,0,0,0,.3-0.7,1.08,1.08,0,0,0-.3-0.7L20.2,0.3A1.08,1.08,0,0,0,19.5,0a0.91,0.91,0,0,0-.7.3L11.3,7.8a0.48,0.48,0,0,1-.7,0L3.1,0.3A1.08,1.08,0,0,0,2.4,0a1.08,1.08,0,0,0-.7.3L0.3,1.7a1.08,1.08,0,0,0-.3.7,1.08,1.08,0,0,0,.3.7l7.5,7.5a0.48,0.48,0,0,1,0,.7L0.3,18.8a1,1,0,0,0,0,1.4l1.4,1.4a1.08,1.08,0,0,0,.7.3,1.08,1.08,0,0,0,.7-0.3l7.5-7.5a0.48,0.48,0,0,1,.7,0l7.5,7.5a1,1,0,0,0,1.4,0l1.4-1.4a1,1,0,0,0,0-1.4Z\'/%3E%3C/svg%3E');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  &-ul{
    padding: 20px 30px;
  }
}

.next-level-button{
  display: none;
}

.has-submenu .next-level-button{
  @include clean-button();
  position: relative;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  background-image: url('data:image/svg+xml,%3C%3Fxml version=\'1.0\' encoding=\'utf-8\'%3F%3E%3Csvg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' x=\'0px\' y=\'0px\' viewBox=\'0 0 24 24\' style=\'enable-background:new 0 0 24 24;\' xml:space=\'preserve\'%3E%3Cstyle type=\'text/css\'%3E .st0%7Bfill:%23C1C1C1;%7D%0A%3C/style%3E%3Cpath class=\'st0\' d=\'M23,10h-8.5C14.2,10,14,9.8,14,9.5V1c0-0.6-0.4-1-1-1h-2c-0.6,0-1,0.4-1,1v8.5C10,9.8,9.8,10,9.5,10H1 c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h8.5c0.3,0,0.5,0.2,0.5,0.5V23c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1v-8.5c0-0.3,0.2-0.5,0.5-0.5 H23c0.6,0,1-0.4,1-1v-2C24,10.4,23.6,10,23,10z\'/%3E%3C/svg%3E');
  background-size: contain;;
}


/* SubMenu */
.mobile-main-menu{
  padding: 20px 0;
  &-li{
    padding-top: $gap/4;
    padding-bottom: $gap/4;
    border-bottom: 1px solid #c1c1c1;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    list-style: none;
  }
  &-li--sub{
    position: relative;
    list-style: none;
  }
  a{
    color: $color;
    text-decoration: none;
  }
  &--submenu{
    position: relative;
    top: 7px;
    font-size: 90%;
    padding-left: $gap/2;
    width: 100%;
    margin-bottom: 21px;
    opacity: 1;
    transition: max-height .5s linear, opacity .9s linear, margin-bottom .25s linear ;
  }
  &--submenu.is-close{
    overflow-x: hidden;
    max-height: 0 !important;
    opacity: .01;
    margin-bottom: 0;
  }
}

.stm-overlay{
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: rgba( #000, .5);
  &.is-visible{
    display: block;
  }
}
