/*** Sections ***/
@mixin section-color($color, $hovercolor: #fff){
  background-color: $color;

  &.invert{
    @include section-invert($hovercolor);
  }
}

@mixin section-invert($color: #fff){
  color: $color;
  a{
    color: $color;
  }
}

section{
  @include clear-fix();
  padding: 20px;
}

.section-gray{
  @include section-color(#ccc);
}

.section-dark{
  @include section-color(#000);
  @include section-invert();
}
